extends layout

block content
	.row
	.row
	.row
	// row for every timeline
	div(ng-controller="TimelineController as ctrl")
		.row(ng-repeat="timeline in timelines")
			div(id="timeline_{{timeline._id}}", ng-init="createTimeline($(this),{{timeline}})")