extends layout

block content
	.row
	.row
	.row
	// row for every timeline
	div(ng-controller="TimelineController as ctrl")
		uib-accordion
			uib-accordion-group(ng-repeat="timeline in timelines" is-open="timeline._id === activeTimeline._id")
				uib-accordion-heading
					span(ng-click="accordionOpen(timeline, $index)") {{timeline.name}}
					a.btn-timeline.hidden(href="#" data-toggle="modal" ng-click="doNothing($event)" data-target="#addEventModal" id="btnAddEvent_{{$index}}")
						i.fa.fa-calendar-plus-o
					a.btn-timeline.hidden(href="#" ng-click="addBaseline($index, $event)" id="btnAddBaseline_{{$index}}")
						i.fa.fa-info
				div(id="timeline_{{$index}}", tm-timeline)
		// Modal
		div.modal.fade(id="addEventModal",role="dialog")
			.modal-dialog
				// Modal content
				.modal-content
					.modal-header
						button.close(type="button",data-dismiss="modal")&times;
						h4.modal-title Add Event
					.modal-body.form-group
						label Timeline: {{$activeTimeline.name}}
						br
						label(for="caption") Caption:
						input.form-control(id="caption",type="text")
						label(for="description") Description:
						input.form-control(id="description",type="text")
						label(for="start") Start:
						input.form-control(id="start",type="text")
						label(for="start") End:
						input.form-control(id="end",type="text")
					.modal-footer
						button.btn.btn-default(type="button",data-dismiss="modal") Cancel
						button.btn.btn-primary(type="button",ng-click="addEvent()") Add
		// Modal
		div.modal.fade(id="addBaseline",role="dialog")
			.modal-dialog
				// Modal content
				.modal-content
					.modal-header
						button.close(type="button",data-dismiss="modal")&times;
						h4.modal-title Add Baseline
					.modal-body.form-group.btn-group
						label Timeline: {{$activeTimeline.name}}
						br
						label(for="caption") Baseline:
						input.form-control(id="caption",type="text")
						label(for="start") Start:
						input.form-control(id="start",type="select")
							option(ng-repeat="baseline in baselines" value="{{baseline._id}}") {{baseline.name}}
					.modal-footer
						button.btn.btn-default(type="button",data-dismiss="modal") Cancel
						button.btn.btn-primary(type="button",ng-click="addBaseline()") Add
