extends layout

block content
  // row for every timeline
  div(ng-controller="TimelineController as ctrl")
    .row(ng-repeat="timeline in ctrl.timelines")     
      div Timeline {{timeline.name}}

